/*nav*/
.navbar a {
    color: black;
}

.nav-item{
    text-align: center;
}

.nav-item{
    padding-left: 60px;
}

/*margens*/
.mb5{
    margin-bottom: 5px;
}



/*tela*/
.m0{
    margin: 0px;
    padding: 0%;
}
.texto{
    text-align: left;
}

/*outros*/
.preco_style{
    color: #D5943A;
    font-weight: 600;
    font-size: 20px;
}

