/*nav*/
.navbar a {
    color: black;
}

.nav-item{
    text-align: center;
}

.nav-item{
    padding-left: 60px;
}
body{
    background-color: white;
}

/*elementos*/
h1{
    font-family: inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 5px;
}

h2{
    font-family: inter;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}



/*tela*/

.texto{
    text-align: left;
}

.borda{
    border: 1px solid #9D8561;
    border-radius: 50px;
}

.mt100{
    margin-top: 100px;
}


/*outros*/
.preco_style{
    color: #D5943A;
    font-weight: 600;
    font-size: 20px;
}
.det_preco{
    width: 140px;
    height: 35px;
    left: 527px;
    background: #D5943A;
    font-size: 25px;
    font-weight: 700;
    color: #FFFDFB;
}
.tag_categoria{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #D5943A;
}

.fontbot{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 50px;
}
