{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<img src="{% static 'img/rascunho_imagem_index.png' %}" alt="" style="margin-bottom: 60px;">

<div class="row">
    {% for produto in produtos %}
    <div class="col" style="margin-top: 60px;">
        <img src="/media/{{produto.imagem}}" width="250px" alt="">
        <div >
            <p style="margin-bottom: 0px;">{{produto.nome}}</p>
            <p>preço:<span class="preco_style"> R$ {{ produto.preco }}</span></p>
            <a href="{% url 'detalhes' produto.id %}" class="btn btn-primary" style="background-color:#D5943A; border: none;">Detalhes</a>
        </div>
    </div>
    {% endfor %}
    


<div class="container">
    <!--linha 1-->
    
  
{% endblock content %}
