{% extends "base.html" %}
{% load static %}

{% block title %}Página "Quem somos"{% endblock %}

{% block content %}

<!-- Testes -->
<!-- Obs.: o css local não está aparecendo no site -->

<div class="container .col-sm-6">
    <div class="row" style="background-color: rgb(rgba(0, 39, 59, 0.979), green, blue);
    border: 1px black;">
      <div class="col">
        oiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
      </div>
      <div class="col">
        oiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
      </div>
    </div>
    <div class="row" style="background-color: rgb(rgba(0, 39, 59, 0.979), green, blue);
    border: 1px black;">
      <div class="col">
        
        oiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
      </div>
      <div class="col">

        oiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
      </div>
    </div>
  </div>

  
{% endblock content %}
